<h1>Character Sheets</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!characterSheets"><em>Loading...</em></p>

<table class='table' *ngIf="characterSheets">
  <thead>
    <tr>
      <th>Name</th>
      <th>System</th>
      <th>Player</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let characterSheet of characterSheets" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
      <td><a [routerLink]='["/fetch-detail"]'> {{ characterSheet.name }}</a></td>
      <td>{{ characterSheet.system }}</td>
      <td>{{ characterSheet.player }}</td>
    </tr>
  </tbody>
</table>
