<h1>Character Sheets</h1>

<p>This component demonstrates adding data from the server.</p>

<form #characterForm="ngForm">
  Name: <br>
  <input type="text" id="characterName" name="characterName"
         required
         [(ngModel)]="characterSheet.name">
  <br>
  System: <br>
  <input type="text" name="characterSystem"
         required
         [(ngModel)]="characterSheet.system">
  <br>
  Player: <br>
  <input type="text" name="characterPlayer"
         required
         [(ngModel)]="characterSheet.player">
  <br><br>
  <input type="submit" value="Submit" (click)="postData()">

</form>
